@charset "UTF=8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
    
}
body {
    font-family: 'Sriracha', cursive;
    background-color: white;
    color: black;
}

header {
    font-family: 'Passion One', cursive;
    background-color: black;
    color: white;
    padding: 55px;
    font-weight: normal;
}
header h1 {
    
    text-align: center;
    font-size: 9em;
    font-weight: bold;
}
header p {
    text-align: center;
    font-size: 1.3em;
    font-weight: normal;
}

section {
    text-align: left;
     color: white;
     margin: 55px 20px;
     font-size: 3.2em;
     padding: 20px;
}

section.sclean {
    background-color: white;
    color: black;
    text-align: left;
    background-size: cover;
    background-attachment: scroll;
}

#joaninha {
    background-image: url('../imagens/background01.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

#livro {
    background-image: url('../imagens/background02.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.backp p {
    color: white;
    margin: 0px;
    display: flex;
    
}
.backp p {
    background-image: linear-gradient(to right, rgba(0,rgba(0, 0, 0, 0.829), 0.911), black);
    width: 45%;
    padding: 7px;
}



footer {
    font-family: 'Passion One', cursive;
    font-size: 1.2em;
    font-weight: normal;
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
    margin-top: 80px;
}
footer p > a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}
footer p > a:hover {
    text-decoration: none;
    background-color: rgb(80, 80, 80);
}